* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 2vh;
  color: white;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vh;
}

nav ul {
  display: flex;
}

nav li {
  margin-right: 5vh;
}

nav ul a {
  text-decoration: none;
}

#home {
  /* height: 200vh; */
  background-image: url(../img/bg.png);
  background-size: cover;
  background-position: bottom;
}

.main-text {
  font-size: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass-bg-1 {
  font-weight: bold;
  font-size: 5vh;
  padding: 2vh 6vh;
  position: absolute;
  backdrop-filter: blur(3px) saturate(130%);
  -webkit-backdrop-filter: blur(3px) saturate(130%);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  border: 3px solid rgba(209, 213, 219, 0.1);
  transform: translate(50vh, -10vh);

  z-index: 2;
}

.main-text button {
  background-color: white;
  color: black;
  border-radius: 30px;
  border: none;
  padding: 2.5vh 5vh;
  position: absolute;
  transform: translateY(30vh);
  z-index: 2;
}

.sub-text {
  font-size: 3vh;
  
  position: absolute;
  z-index: 2;
  transform: translateY(18vh);
}

.card {
  backdrop-filter: blur(3px) saturate(130%);
  -webkit-backdrop-filter: blur(3px) saturate(130%);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  /* border: 3px solid rgba(209, 213, 219, 0.1); */
  transform: translateY(32vh);
  display: absolute;
}

.section-first {
  height: 100vh;
  /* background-image: url(../img/bg.png);
  background-size:cover;
  background-position: bottom; */
  padding: 0px 100px;
}

.section-first .card .row .div1{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 50px;
}

.cube {
  height: 50vh;
  width: 50vh;

  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px) saturate(130%);
  -webkit-backdrop-filter: blur(3px) saturate(130%);
  clip-path: polygon(50% 25%, 100% 50%, 50% 75%, 0% 50%);
  transform: translateY(-17vh);
  position: absolute;
}

.cube-2 {
  height: 50vh;
  width: 50vh;
  
  background: rgba( 255, 255, 255, 0.1 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );

  /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */

  clip-path: polygon(0 25%, 50% 50%, 50% 100%, 0 75%);
  transform: translateY(-4.5vh);
  position: absolute;
}

.cube-3 {
  height: 50vh;
  width: 50vh;

  background: rgba( 255, 255, 255, 0.1 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  
  /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
  
  clip-path: polygon(100% 25%, 50% 50%, 50% 100%, 100% 75%);
  transform: translateY(-4.5vh);
  position: absolute;
}

.cube-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* clip-path: circle(50% at 50% 50%);   */
  z-index: 1;
}

#services {
  background-image: url(../img/bg-inverse.png);
  background-size: cover;
  background-position: bottom;
}

.card-main {
  background-color: black;
  padding: 30px 50px;
  margin: 10px 10px;
  border-radius: 25px;
  height: 25vh;
  display: flex;
  align-items: center;
  transform: 2s ease-in-out;
}

.card-main:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: 2s ease-in-out;
  /* cursor: pointer; */
}

/* 
.card-main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 50px;
} */

.card-main a {
  transform: 100ms ease-in-out;
  text-decoration: none;
}

.card-main a:hover {
  transform: 100ms ease-in-out;
  color: gray;
}

.fs-0{
  font-size: 12px;
}

.fs-1{
  font-size: 15px;
}

.fs-2{
  font-size: 20px;
}

.fs-3{
  font-size: 30px;
}

.fs-4{
  font-size: 40px;
}

.fs-5{
  font-size: 50px;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}

.grid-container {
  margin: auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 15vw); /* Set the height of each row to 100 pixels */
  gap: 16px;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  /* margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x)); */
} 

.col {
  flex: 1;
  box-sizing: border-box;
  padding: 0px;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}


@media (min-width: 576px) {
  .col-sm {
    flex: 1 0 0%;
  }
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .col-md {
    flex: 1 0 0%;
  }
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg {
    flex: 1 0 0%;
  }
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}